<img alt="Lata_mangeshkar_-_still_29065_crop" class="cover_art-image" src="https://s3.amazonaws.com/rapgenius/Lata_Mangeshkar_-_still_29065_crop.jpg" srcset="https://s3.amazonaws.com/rapgenius/Lata_Mangeshkar_-_still_29065_crop.jpg 2x" />
        </div>
      </div>

      <div class="header_with_cover_art-primary_info_container">
        <div class="header_with_cover_art-primary_info">
          
          <h1
            class="header_with_cover_art-primary_info-title "
          >Vande Mataram by Lata Mangeshkar</h1>
          
  <h3>
    

  </h3>
  <h3>
  

  </h3>
  <h3>
    

  </h3>
  <figure>
    <figcaption>Listen to the Song:</figcaption>
    <audio
        controls
        src="VM.mp3">
            Your browser does not support the
            <code>audio</code> element.
    </audio>
</figure>
        </div>
      </div>
    </div>
    <div class="column_layout-column_span column_layout-column_span--secondary u-top_margin">
    </div>
  </div>
</div>


<div class="song_body column_layout" initial-content-for="song_body">
  <div class="column_layout-column_span column_layout-column_span--primary">
    <div class="song_body-lyrics">
      
        <h2 class="text_label text_label--gray text_label--x_small_text_size u-top_margin">Vande Mataram Lyrics</h2>
      
      <div initial-content-for="lyrics">
        <div class="lyrics">
          
            <!--sse-->
            <p>[Intro]<br>
Vande maataram<br>
<br>
[Chorus]<br>
<a href="/Lata-mangeshkar-vande-mataram-lyrics#note-15198747" data-id="15198747" class="referent" ng-click="open()" ng-class="{
          'referent--linked_to_preview': song_ctrl.referent_has_preview(fragment_id),
          'referent--linked_to_preview_active': song_ctrl.highlight_preview_referent(fragment_element_id),
          'referent--purple_indicator': song_ctrl.show_preview_referent_indicator(fragment_element_id)
        }" prevent-default-click="" annotation-fragment="15198747" on-hover-with-no-digest="set_current_hover_and_digest(hover ? fragment_id : undefined)" classification="accepted" image="false" pending-editorial-actions-count="0">Vande maataram<br>
Vande maataram<br>
Vande maataram<br>
Vande maataram<br>
Vande maataram<br>
Vande maataram<br>
Vande maataram<br>
Vande maataram</a><br>
<br>
[Verse 1]<br>
Maa, Maa<br>
Sujalam suphalam malayaja sheetalam<br>
Shasyashyamalam maataram, vande<br>
Sujalam suphalam malayaja sheetalam<br>
Shasyashyaamalam maataram, vande maataram<br>
<br>
[Chorus]<br>
<a href="/Lata-mangeshkar-vande-mataram-lyrics#note-15198747" data-id="15198747" class="referent" ng-click="open()" ng-class="{
          'referent--linked_to_preview': song_ctrl.referent_has_preview(fragment_id),
          'referent--linked_to_preview_active': song_ctrl.highlight_preview_referent(fragment_element_id),
          'referent--purple_indicator': song_ctrl.show_preview_referent_indicator(fragment_element_id)
        }" prevent-default-click="" annotation-fragment="15198747" on-hover-with-no-digest="set_current_hover_and_digest(hover ? fragment_id : undefined)" classification="accepted" image="false" pending-editorial-actions-count="0">Vande maataram<br>
Vande maataram<br>
Vande maataram<br>
Vande maataram<br>
Vande maataram<br>
Vande maataram<br>
Vande maataram<br>
Vande maataram</a><br>
<br>
[Bridge]<br>
Maa<br>
Shubhra jyotsna pulakitayaaminim<br>
Phulla kusumita drumadalashobhinim<br>
Aaa<br>
(Shubhra jyotsna pulakitayaaminim<br>
Phulla kusumita drumadalashobhinim)<br>
Suhaasinim sumadhurabhaashhinim<br>
Sukhadaam varadaam maataram<br>
<br>
<br>

Vande maataram
Vande maataram
Vande maataram
Vande maataram
Vande maataram
Vande maataram
Vande maataram</p><br>
<br>
[Verse 2]<br>
Sapta koti kantha kalakalaninaada karale<br>
Nisapta koti bhujaidhruta karakarvale<br>
Sapta koti kantha kalakalaninaada karale<br>
Nisapta koti bhujaidhruta karakarvale<br>
Abalakeno maa eto bale<br>
Bahubaladhaarinim namaami tarinim<br>
Ripudalavarinim maataram, vande maataram !!<br>
<br>
[Chorus]<br>
<a href="/Lata-mangeshkar-vande-mataram-lyrics#note-15198747" data-id="15198747" class="referent" ng-click="open()" ng-class="{
          'referent--linked_to_preview': song_ctrl.referent_has_preview(fragment_id),
          'referent--linked_to_preview_active': song_ctrl.highlight_preview_referent(fragment_element_id),
          'referent--purple_indicator': song_ctrl.show_preview_referent_indicator(fragment_element_id)
        }" prevent-default-click="" annotation-fragment="15198747" on-hover-with-no-digest="set_current_hover_and_digest(hover ? fragment_id : undefined)" classification="accepted" image="false" pending-editorial-actions-count="0">Vande maataram<br>
Vande maataram<br>
Vande maataram<br>
Vande maataram<br>
Vande maataram<br>
Vande maataram<br>
Vande maataram<br>
Vande maataram</a><br>
<br>
[Verse 3]<br>
Tvam hi durga dashapraharanadhaarini<br>
Kamala kamaladala vihaarini<br>
Vaani vidyaadaayini, namaami tvam<br>
Namaami kamalam amalam atulam<br>
Sujalam suphalam maataram<br>
Shyamalam saralam susmitam bhooshhitam<br>
Dharinim bharanim maataram, vande maataram<br>
<br><br>

Vande maataram
Vande maataram
Vande maataram
Vande maataram
Vande maataram
Vande maataram
Vande maataram</p>
      <div class="annotation_label">
        
          <h3 class="u-inline">
            About “Vande Mataram”
          </h3>
      </div>
      <div class="rich_text_formatting">
        <p>This song was originally written by a Bengali poet, Bankim Chandra Chatterjee. It was written in Bengali script in the novel Anandmath. The first two verses of the song were adopted as the National Song of India in October 1937 by the Congress Working Committee prior to the end of colonial rule in August 1947. The title ‘Vande Mataram’ means “I praise thee, Mother” or “I praise to thee, Mother”.</p>
      </div>
